<!-- Header-->
<%- include('./includes/header'); %>

<!-- Services-->
<section class="page-section" id="introduce">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Welcome</h2>
      <h3 class="section-subheading text-muted">블로그 소개</h3>
    </div>
    <div class="text-center textborder">
      <p>
        블로그에 접속해주셔서 감사합니다.<br />
        이 블로그는 그냥 만들어봤어요.<br />
        저의 코딩 작업물과 일상적인 것들을 올릴거에요.<br />
        과연 완성 될 수 있을지...
      </p>
    </div>
  </div>
</section>
<!-- Services-->
<section class="page-section" id="">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Goals</h2>
      <h3 class="section-subheading text-muted">블로그 개발 목표</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Front-End</h4>
        <p class="text-muted">
          - <del>React</del> <br />
          - <del>TypeScript & Redux Pattern</del><br />
          - Bootstrap <br />
          - HTML5 <br />
          - Javascript <br />
          - EJS
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Back-End</h4>
        <p class="text-muted">- <del>SpringBoot</del> <br />- <del>Postgre SQL</del> <br />- Express <br />- MySQL</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Etc.</h4>
        <p class="text-muted">
          - REST API <br />
          - SSL 인증서 <BR /> - 댓글 & 푸쉬 <BR /> - Swagger in Rest API <BR /> - 이메일 전송
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About-->
<section class="page-section" id="progress">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">진행 과정</h2>
      <h3 class="section-subheading text-muted">
        블로그 작업 일지
      </h3>
      <span id="toc-toggle">펼치기 <i class="fas fa-caret-down"></i></span>
    </div>
    <br>
    <ul class="timeline" style="display: none;" id="toc-content">
      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/1.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-7-16</h4>
            <h4 class="subheading">Beginnings</h4>
          </div>
          <div class="timeline-inverted timeline-body">
            <p class="text-muted">
              Okky의 한 포트폴리오에 대한 글을 읽은 후 블로그 제작을
              결심했다. 프론트로는 React, 백엔드로는 SpringBoot, DB는
              postgreSQL를 사용하기로 결정했다. 일단 화면의 전체적인 틀은
              부트스트랩의 테마를 따와서 시작한다. 화면부터 제작 시작 ->
              vaniliaJS를 사용한 SPA 제작 후 React로 변환 계획!
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/2.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-7-21</h4>
            <h4 class="subheading">Oh My Goodness!</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              spa로 모든 페이지를 만들고 싶었지만 너무 어려워... 우선 페이지
              3개 만들고 페이지 안에 내용물 들은 ajax로(?)... 대략적인
              페이지 내용 완성! 서버는 node로 하기로 바꿨다. 나중에
              spring으로 바꿔서 해봐야지..
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/3.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-8-18</h4>
            <h4 class="subheading">Server 구현</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              NodeJS의 Express를 사용한 간단한 서버를 구현하였다. 이제 DB를
              연결해서 글을 생성하고 삭제하는 등의 작업을 해야겠다. 아직 갈
              길이 멀다... (PostgreSQL과 Golang으로 팀프로젝트를 하나 했었는데 아직 익숙치 않아서 mySQL로 변경ㅠ 자료도 별로 없고...)
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/4.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-9-18</h4>
            <h4 class="subheading">View는 ejs로 결정</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              인공지능 업무를 맡아서 블로그 만들기를 전혀 못하다가 다시 들여다본다..ㅠ(너무 어려워)
              view를 그냥 js로 만들었더니 너무 번거롭고 어려웠다. ejs로 새로 만들어서 적용!
              완전 간편..!(React로 하고 싶은데 엄두가 안난다..) DB연결도 했고 이제 포트폴리오에 연동해서 뿌려줘야겠다.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/3.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-9-22</h4>
            <h4 class="subheading">Work Page</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Work Page를 어느 정도 작업했다. 방명록과 DB를 연동하여 CRUD 기능 추가했고(Update는 미뤄뒀지만..;) Javascript로
              페이지네이션 기능을 구현해봤다. 모듈로 간편히 할 수 있다는 것을 중간에 알았지만.. 되돌리기엔 너무 늦어
              직접 구현해 봤다. 작동은 되는데.. 과연 제대로 한건지 의문이다.(너무 어려웠다;)
              PortFolio 부분도 DB와 연동하고 직접 글을 쓸 수 있도록 하려고 했지만
              아직 올릴 글도 많이 없고(올릴 포트폴리오가 없다니..) 직접 div 틀에 작성하여 넣었다.
              이제 Private 페이지를 작업해야겠다.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/4.jpg" alt="" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-11-11</h4>
            <h4 class="subheading">오랜만에 진행 과정 작성</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              그 동안 틈틈이 블로그 개발을 해왔다.
              Private, work 페이지에 게시판 CRUD 기능, Client/Server side Pagination,
              header, footer 파일 나누기, UI 수정, DB 연동 등등...
              앞으로 Ajax 입력창에 required 기능, 앞 뒤 페이지이동, 날씨api 연동 등을 추가할 계획이다.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="me">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">who am i?</h2>
      <h3 class="section-subheading text-muted">La vie turbulente.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="/img/favicon.ico" alt="" />
          <h4>Yu InJong</h4>
          <p class="text-muted">1995. 02. 27</p>
          <a class="btn btn-dark btn-social mx-2" id="channel-chat-button" href="javascript:;"
            onclick="void chatChannel();">
            <img class="rounded-circle" width="40"
              src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
          </a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-8 border p-md-4">
        <p class="large text-muted">
          이름: 유인종 <BR>
          이메일: in3166@naver.com <br>
          직업: 대학생 / 신입개발자<br>
          학교: 가천대학교 컴퓨터공학과 <BR>
          관심있는 언어: Javascript, Golang, NodeJS ...<br>
          관심 분야: Front-End 개발자 -> Full-Stack 개발자
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
          eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam
          corporis ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- GitHub Graph-->

<div class="container w-100">
  <div class="row p-lg-3 border justify-content-center align-content-center">
    <div class="my-auto"><img src="" alt="Loading..." id="weaImg" class="w-100 ">
    </div>
    <div class=" row ml-lg-1  my-auto small weaVal">
      <div>
        <div>
          기온:
        </div>
        <div>
          강우 확률:
        </div>
        <div>
          풍속:
        </div>
      </div>
      <div class="ml-3">
        <div id="temval">

        </div>
        <div id="rainval">

        </div>
        <div id="windval">

        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact</h2>
      <h3 class="section-subheading text-muted">You can send an email to me.</h3>
    </div>

    <!-- https://github.com/dwyl/learn-to-send-email-via-google-script-html-no-server/issues/366 -->
    <form class="gform" name="gform" id="gform"
      action="https://script.google.com/macros/s/AKfycbwdAGQiNcK3PfP7TFNRQOqaWam-syEq_cC3eBlyyRymDZ1v1gPP/exec">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group mb-4">
            <input class="form-control" id="name" name="name" type="text" placeholder="Your Name *" required="required"
              data-validation-required-message="Please enter your name." />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group  mb-4">
            <input class="form-control" id="email" name="email" type="email" placeholder="Your Email *"
              required="required" data-validation-required-message="Please enter your email address." />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group mb-md-0">
            <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone *"
              required="required" data-validation-required-message="Please enter your phone number." />
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="form-group form-group-textarea mb-md-0">
            <textarea class="form-control" id="message" name="message" placeholder="Your Message *" rows="6"
              required="required" data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>

      <input id="honeypot" type="text" name="honeypot" value="" hidden />
      <div class="text-center">
        <div id="success"></div>
        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>

<!-- Footer-->
<%- include('./includes/footer'); %>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
  Kakao.init('7e41432052c3dc4b8f2da4960c5c4ce7');
  function chatChannel() {
    Kakao.Channel.chat({
      channelPublicId: '_xdxaJfK',
    })
  }

</script>
<!-- Font Awesome icons (free version)-->
<!-- <script data-cfasync="false" type="text/javascript" src="/javascripts/index_mail.js"></script> -->
<script data-cfasync="false" type="text/javascript" src="/javascripts/form-submission-handler.js"></script>

</body>

</html>